<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>mongoose-demo</title>
    </head>
    <body>

        <form action="/users" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="age" placeholder="age">
            <input type="submit" value="sumbit">
        </form>

        <table>
            <thead>
                <th>Nam</th>
                <th>Aeg</th>
            </thead>
            <tbody>
                <% for (var i in users) { %>
                    <tr>
                        <td><%= users[i].name %></td>
                        <td><%= users[i].age %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>

    </body>
</html>