<h1> New Task </h1>

<form (submit)="addNewTask()">
  <h2> {{ newTask.title }} </h2>
  <p> {{ newTask.description }} </p>
  <input type="text" name="newTask.title" [(ngModel)]="newTask.title" placeholder="title">
  <input type="text" name="newTask.description" [(ngModel)]="newTask.description" placeholder="description">
  <input type="submit" value="sumbit">
</form>

<br><br><br>

<h1> All Tasks </h1>

<div *ngFor="let task of tasks">
  <hr>
  <h2> {{ task.title }} </h2>
  <p> {{ task.description }} </p>
  <button (click)="toggleEdit(task)"> Edit </button>
  <button (click)="deleteTask( task._id )"> X </button>

  <div *ngIf="task.isEdit">
  
    <h4> Edit Task </h4>
    
    <form (submit)="editTask( task._id )">
      <input type="text" name="newTask.title" [(ngModel)]="newTask.title" placeholder={{task.title}}>
      <input type="text" name="newTask.description" [(ngModel)]="newTask.description" placeholder={{task.description}}>
      <input type="submit" value="sumbit">
    </form>
  
  </div>

</div>



