<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style.css"/>
</head>
<body>
    <form>
        <input type="text" placeholder="title">

        <input type="file">

        car<input type="radio" name="car-or-cat">
        cat<input type="radio" name="car-or-cat">

        <input type="button" value='"Submit"'>
    </form>
</body>
</html>