<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <div>
            <form action="/result" method="post">
                
                <label>enter ur fkn nam plz
                    <input type="text" name="name">
                </label>
                
                <br>
                
                <label>wer tf ur dojo brah
                    <select name="dojoLocation">
                        <option selected>pick two</option>
                        <option value="silicon valley"> silicon valley  </option>
                        <option value="the moon">       the moon        </option>
                        <option value="india">          india           </option>
                    </select>
                </label>
                
                <br>
                
                <label>choose your language of ultimate worship
                    <select name="faveLanguage">
                        <option selected> pick ONE </option>
                        <option value="r">          r           </option>
                        <option value="swift">      swift       </option>
                        <option value="rust">       rust        </option>
                        <option value="python">     python      </option>
                        <option value="brainfuck">  brainfuck   </option>
                        <option value="assembly">   assembly    </option>
                        <option value="lua">        lua         </option>
                        <option value="markdown">   markdown    </option>
                        <option value="latex">      latex       </option>
                        <option value="xml">        xml         </option>
                        <option value="objective">  objective-c </option>
                    </select>
                </label>
                
                <br>
                
                <label>just say it
                    <br>
                    <textarea name="comment" cols="30" rows="10"></textarea>
                </label>
                
                <input type="submit" value="sumbit">
            </form>
        </div>
    </body>      
</html>