<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div>
            <h3>wat u gav us</h3>
            <p>naem ~        <%= name %>            </p>
            <p>lokayshin ~   <%= dojoLocation %> </p>
            <p>religion ~    <%= faveLanguage %> </p>
            <p>kumplayntz ~  <%= comment %>         </p>

            <form action="/" method="get">   <input type="submit" value="tayk me bak">   </form>
        </div>
    </body>
</html>