<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Logged in!</title>
    </head>

    <body>
        <h2>What up <%= name %>! You logged in!</h2>

        <a href="/user/logout">sign out</a>
    </body>
</html>