<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>add a cow</title>
    </head>
    <body>

        <h2>Add a new cow!</h2>

        <form action="/cows" method="post">

            <input type="text" name="name" placeholder="Cow Name" required>
            <input type="text" name="color" placeholder="Color" required>
            <input type="text" name="race" placeholder="Race" required>
            <input type="text" name="age" placeholder="Age" required>
            <input type="text" name="currentFarm" placeholder="Current Farm" required>

            <input type="submit" value="sUmBiT">
        
        </form>

        <a href="/">Back to Dashboard</a>

    </body>
</html>