<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>quoting dojo</title>
    </head>
    <body>

        <form action="/quotes" method="post">
            <input required type="text" name="author" placeholder="your name here">
            <input required type="text" name="quote" placeholder="quote here">
            <input type="submit" value="add quote">
            <br>
            <a href="/quotes">quotes page</a>
        </form>

    </body>
</html>